<!DOCTYPE html>
<html>
  <head>
    <title>Currency Converter in Javascript</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <style>
      .row11 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
      }
    </style>
  </head>
  <body>
    <div class="row row11">
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad"
        style="padding-top: 30px"
      >
        <% if (message.length > 0) { %>
        <div class="alert alert-danger col-sm-12"><%= message %></div>
        <% } else {%>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title text-center p-2">
              <%=data[0].First_Name%>, <%=data[0].Last_Name%>
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3" align="center">
                <img
                  alt="User Pic"
                  src="http://localhost:3000/images/upload_images/<%=data[0].image%>"
                  class="img-circle img-responsive w-75"
                />
              </div>
              <div class="col-md-9 col-lg-9">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>User Name:</td>
                      <td><%=data[0].User_Name%></td>
                    </tr>
                    <tr>
                      <td>Mobile:</td>
                      <td><%=data[0].Mobile_Number%></td>
                    </tr>
                    <td>Birthday:</td>
                      <td><%=data[0].Birthday%></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
  <!-- JavaScript Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>
